.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(101, 149, 190);
}

body{
  margin: 0;
  padding: 0;
}
